body{
  background-color: rgb(77, 74, 74);
}

.mainheaders{
  color: azure;
  text-align: center;
}

#subheader {
  color: azure;
  text-align: center;
}

#photo1{
  position: fixed;
  left:880px;
  top:500px;
  scale: 300%;
}

#hooker{
  color: azure;
  text-align: center;
}

.list{ 
  color: azure;
  font-size: 56px;
  line-height: 67px;
}


div.box{
  position: relative;
  top: 160px;
}
div.move{
  position: absolute;
  left:20px;
}

p{
  color: azure;
  text-align: center;
}

div.text{
   color: azure;
  position:fixed;
  left:850px;


}


.box1{
  background-color: rgb(117, 112, 112);
   border: solid;
   border-width: 10;
   border-radius: 10px;
   width: 800px;
   height: 500px;
  position: absolute;
  left: 10px;
  position: relative;
  top: 100px;
}

div.box2{
  background-color: rgb(117, 112, 112);
  border: solid;
  border-width: 10;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  position: absolute;
   left: 1100px;
  position: relative;
  bottom: 400px;

}

div.box3 {
  background-color: rgb(117, 112, 112);
  border: solid;
  border-width: 10;
   border-radius: 10px;
   width: 800px;
  height: 500px;
  position: absolute;
  left: 1100px;
  position: relative;
  bottom: -105px;
}


.box4 {
  background-color: rgb(117, 112, 112);
   border: solid;
  border-width: 10;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  position: absolute;
  left: 10px;
  position: relative;
  bottom: 400px;
}
.box5 {
  background-color: rgb(117, 112, 112);
  border: solid;
  border-width: 10;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  position: absolute;
  left: 580px;
  position: relative;
  bottom: -60px;
}


.boxstore {
  background-color: rgb(117, 112, 112);
  border: solid;
  border-width: 10;
  border-radius: 10px;
  width: 160px;
  height: 200px;
  position: absolute;
  left: 580px;
  position: relative;
  bottom: -60px;
}

h3,h5{ 
  color: azure;
  text-align: center;
}



ol{
  color: azure;
  text-align: left;}

#storeheading{
  color:azure ;
  position:absolute;
  left: 520px;
  }


input[type="text"] {
  color: azure;
}

#set1{
  position: absolute;
  left:50px;
  }

#set2{
  position: absolute;
  left: 250px;
  top:200px;
  scale:200%;
}

#set3 {
  position: absolute;
  left: 250px;
  top: 200px;
  scale: 200%;
}

#set4{
  position: absolute;
  left: 250px;
  top: 200px;
  scale: 200%;
}

#set5 {
  position: absolute;
  left: 300px;
  top: 190px;
  scale: 160%;
}

.coolphotos {
  position: absolute;
  left: 250px;
  top: 200px;
  scale: 200%;
}

.boxforme {
  background-color: rgb(117, 112, 112);
  border: solid;
  border-width: 10;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  position: absolute;
  left: 10px;
  position: relative;
  bottom: 400px;
}

 #bodyproblem{
  position: absolute;
    left: 250px;
    top:180px;
    scale: 180%;

  }

#indigo{
  border-radius: 25px;
    width: 180px;
    height: 150px;
    position:fixed ;
  left: 1200px;
  bottom: 480px;
    scale: 100%;
}

#textbox{
    background-color: rgb(117, 112, 112);
      border: solid;
      border-width: 10;
      border-radius: 10px;
      width: 800px;
      height: 500px;
}

#bookgen{
  position:absolute;
  left:800px;
}



    .demo-card-square.mdl-card {
      width: 320px;
      height: 320px;
    }
  
    .demo-card-square>.mdl-card__title {
      color: #fff;
      background:
        url('../images/indigofr.png') center 100% no-repeat #2e3192;
    }


        #greece {
          border-radius: 25px;
          width: 350px;
          height: 300px;
          position: fixed;
          left: 800px;
          bottom: 350px;
          scale: 150%;
        }

        .demo-card-square.mdl-card {
          width: 320px;
          height: 300px;
          border-radius: 15px;
        }
    
        .demo-card-square>.mdl-card__title1 {
          color: #00000000;
          background:
            url('../images/greece.png') center/cover 
        }