body{
  background-color: rgb(77, 74, 74);
}

.mainheaders{
  color: azure;
  text-align: center;
}

#subheader {
  color: azure;
  text-align: center;
}

#photo1{
  position: fixed;
  left:880px;
  top:500px;
  scale: 300%;
}

#hooker{
  color: azure;
  text-align: center;
}

.list{ 
  color: azure;
  font-size: 56px;
  line-height: 67px;
}


div.box{
  position: relative;
  top: 160px;
}
div.move{
  position: absolute;
  left:20px;
}

p{
  color: azure;
  text-align: center;
}

div.text{
    color: azure;
    position:fixed;
    left:850px;


}
div.button{
    position: fixed;
    left: 1200px;
    bottom: 690px;
}

.box1{
  background-color: rgb(117, 112, 112);
  border: solid;
  border-width: 10;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  position: fixed;
  left: 10px;
  position: relative;
  top :100px;
}

div.box2{
  background-color: rgb(117, 112, 112);
  border: solid;
  border-width: 10;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  position: fixed;
  left: 1000px;
  position: relative;
  top: 10px;
}