body {
  background-color: rgb(146, 212, 255);

}

#supacoolbig{
border: 10px;
border-radius: 10px;
border-color: aqua;
border:solid;

}

div.move{
position:relative;
left:470px;
bottom: 375px;
}

div.arrow{
  scale: 10%;
  position:relative;
  bottom:185px;
}