body {
  background-color: rgb(146,212,255);

}
div.kk {
  position: relative;
  left: 330px;
  bottom: 110px;


}
div.coll{
  scale:150%;
position:relative;
left:800px;
bottom: 100px;
}


div.clear{
  position: relative;
  left: 150px;
  bottom: 210px;
}


div.all{
  position: relative;
  left: 20px;
}

div.lk {
  position: relative;
  left: 0px;
  bottom: 3px;

}

div.ak {
  position: relative;
  left: 0px;
  bottom: 3px;

}


