#myheader {
  background-color: rgb(30, 30, 30);
  color: rgb(115, 115, 127);
  padding: 40px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
ol{
color:rgb(255, 0, 0);

}
#cool{
  color:darkblue;
}

body{
  background-color: aquamarine;

}

td,th {
  border: 2px solid #000000;
  text-align: left;
  padding: 8px;
  color:brown;  font-size: small;
}
tr{
  background-color: #ffffff;}